.card {
    margin: 0;
    display: inline;
    width: 33.33%;
    float: left;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .card{
      width: 100%;
    }
  }

#projectsContent {
    margin-right: 16px;
}

.cardContent {
    margin: 16px;
    margin-right: 0;
    padding: 16px;
    background-color: #ddd;
    border-radius: 16px;
    border: #666;
    border-width: 2px;
    display: block;
    color: #000;
    transition: 0.3s box-shadow, 0.3s background-color;
}

.cardImage {
    width: 100%;
    border-radius: 16px;

}

.cardContent:hover {
    background-color: #eee;
    border: #666;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
