#homeEntranceContent {
   
    background-image: url(assets/home/background-01.svg);
    background-size: cover;
    background-color: #222;
    width: 100%;
    height: 100vh;
    color: white;
}


#homeEntranceContent h1 {
    font-size: 60px;
}

.homeBounceText * {
    transform: scale(1, 1);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.homeBounceText *:hover {
    transform: scale(1.15, 1.15);
}

.homeBounceText li:active .homeInterestsListLinkDirector{
    margin-left: 5px;
}

#homeEntranceContent h2 {
    font-size: 30px;
    font-weight: 300;
}

@media only screen and (max-width: 620px) {
    #homeEntranceContent h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 620px) {
    #homeEntranceContent h2 {
        font-size: 20px;
        font-weight: 300;
    }
}

#homeWelcomeContent {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.flexDisplayInPartsVertically {
    display: inline-block;
    width: 50%;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .flexDisplayInPartsVertically{
        width: 100%;
    }
}

#homeInterestsList li {
    font-size: 30px;
    font-weight: 400;
    opacity: 100%;
}

@media only screen and (max-width: 620px) {
    #homeInterestsList {
        display: none;
    }
}

#homeInterestsList li:hover {
    opacity: 100%;
    cursor: pointer;
}

.homeInterestsListLinkDirector {
    opacity: 0%;
    display: inline;
    transition: opacity 0.5s ease;
    font-size: 24px;
}

#homeInterestsList li:hover .homeInterestsListLinkDirector {
    opacity: 100%;
}

#homeInterestsSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    float: right;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    #homeInterestsSection{
        
        float: none;
    }
}

.homeInterestsInfo {
    text-align: right;
    opacity: 0%;
    height: 30%;
    flex-grow: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.appearOnHover:hover {
    opacity: 0.2;
}

.appearOnHover {
    opacity: 1;
    transition: 1s;
}

.homeBounce {
    transform: scale(1, 1);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.homeBounce:hover {
    transform: scale(1.15, 1.15);
}